<h1>Searching for - <%= @search_term %></h1>

<table border="1">
  <tr>
  	<th>Social Rank</th>
  	<th>Name</th>
  	<th>Publisher</th>
  </tr>
  <%if @recipes%>
    <% @recipes.each do |recipe| %>
      <tr class=<%= cycle('even', 'odd') %>>
        <td><%= recipe["social_rank"]%></td>
        <td><%= recipe["title"] %></td>
        <td><%= recipe["publisher"] %></td>
      </tr>
    <% end %>
  <%end%>
</table>
